.phasing-btn {
    background:url(../images/phases.png) no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}

.phasing-panel-container {
    color: #f2f2f2;
    margin: 10px 10px 0 10px;
    height: 94%;
    width: 96%;
}

.phasing-panel-button-row {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.phasing-panel-btn {
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 4px 8px 4px 8px;
    padding: 4px 4px 4px 4px;
}

.phasing-panel-btn.first {
    background: url(../images/first-phase.png) no-repeat center;
}

.phasing-panel-btn.last {
    background: url(../images/last-phase.png) no-repeat center;
}

.phasing-panel-btn.prev {
    background: url(../images/prev-phase.png) no-repeat center;
}

.phasing-panel-btn.next {
    background: url(../images/next-phase.png) no-repeat center;
}

.phasing-panel-row {
    margin: 4px;
}

.report-btn {
    background:url(../images/report.png) no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}

.phasing-chart-container {
    height: 100%;
    width: 100%;
}

.tooltip {
    position: absolute;
    background-color: #e2e2e2;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    color: #141414;
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 200;
    padding: 4px;
    text-align: left;
    pointer-events: none;
}

.tooltip.hidden {
    visibility: hidden;
}

.tooltip > div > span {
    display: inline-block;
    margin-right: 6px;
    height: 10px;
    width: 10px;
}

/* Plottable overrides */
.plottable .axis text {
    fill: #f2f2f2;
}
